.container-team {
    margin-top: 200px !important;
}

#teamCarousel {
    max-width: 40%;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 767px) {
  .img-woman {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 767px) {
  .buttons-nav {
    margin-top: 10px !important;
  }
}

.dropdown .btn {
    min-width: 150px;
    white-space: normal;
    text-align: center;
}